{% extends 'base.html' %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'listing/style.css' %}">{%endblock%}
{% block content %}
    <div class="row mt-3 mb-3">
        <div class="col-12 text-center">
            <h1 class="main-title">T'as vu quoi cette année ?</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col text-center police">
            <a href={% url 'movie-list' %}>Tous les films</a>
            {% for year in years %}
            <a href={% url 'movie-list' %}?year={{ year}}>{{ year }}</a>
            {% endfor %}
        </div>
    </div>
  
    <div class="row">
        {% for movie in object_list %}
        <div class="col-3">
                <img src={{ movie.cover.url }} class="img-fluid">
                <div class="mb-3">
                    <cite class="movie fs-4">{{ movie.name }}</cite><br>
                    <i>{{ movie.date }}</i>
                </div>     
        </div>
        {% endfor %}
    </div>
{% endblock %}